@model TicketPlace2._0.Models.EvenementTypePlaceModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EvenementTypePlaceModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Evenement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Evenement.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePlace.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDePlaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDePlaces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
