@page
@model TicketPlace2._0.Areas_Admin_Pages_Espace.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EspaceModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Ville)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Ville)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.CodePostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.CodePostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Largeur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Largeur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Longueur)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Longueur)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.Capacite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.Capacite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.OnCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.OnCreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EspaceModel.OnUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EspaceModel.OnUpdate)
        </dd>
    </dl>
</div>

    <div id="chair-plan"></div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EspaceModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    <script>
        (function() {
            const capacity = @Model.EspaceModel.Capacite;
            const chairPlan = document.getElementById('chair-plan');
            const Longueur = @Model.EspaceModel.Longueur;
            const Largeur = @Model.EspaceModel.Largeur;
            chairPlan.style.display = 'grid';
            chairPlan.style.gridTemplateColumns = `repeat(${Longueur}, 1fr)`; 
            chairPlan.style.gap = '10px';
            chairPlan.style.width = '500px';
            chairPlan.style.margin = '20px auto';
            chairPlan.style.padding = '20px';
            function generateChairs(numSeats) {
                for (let i = 1; i <= numSeats; i++) {
                    const chair = document.createElement('div');
                    chair.classList.add('chair', 'd-flex', 'align-items-center', 'justify-content-center', 'bg-primary', 'text-white', 'font-weight-bold', 'm-1');
                    chair.style.width = '40px';
                    chair.style.height = '40px';
                    chair.textContent = i;
                    chairPlan.appendChild(chair);
                }
            }
            generateChairs(capacity);
        })();
    </script>
}