@page
@model TicketPlace2._0.Areas_Admin_Pages_Utilisateurs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].MotDePasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].EstAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].DateDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].OnCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UtilisateurModel[0].OnUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UtilisateurModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotDePasse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDeNaissance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnUpdate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
